@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ad {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
